---
layout: default
title: "Index"
colors: index
---

<div class="container">
  <div class="content">
    <section class="index-grid">
      <div class="index-main">
        {% include banner.html %}
        <div class="welcome">
          <span class="heading"
            ><h3 style="margin: 0">Welcome to sirkorgo.com!</h3></span
          >
          <div class="subwelcome" style="display: flex">
            <span
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <img width="200px" height="200px" src="/src/img/thegang.png" />
            </span>
            <span>
              <p>
                Hi there! Welcome to sirkorgo.com, the home of Sirkorgo, Widget,
                Mono, and their friends! You can view my artworks in the
                Portfolio, read comics about my OCs in the Comics page, read my
                blog posts, or sign the guestbook! I hope you have fun while
                you're here!
              </p>
              <a href="/about"
                ><button class="generic-btn">Learn More</button></a
              >
            </span>
          </div>
        </div>
      </div>

      <div class="index-button">
        <h3>Add my Button!</h3>
        <span
          style="
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
          "
        >
          <a href="https://www.sirkorgo.com" target="_blank">
            <img
              src="/src/img/bumper.gif"
              alt="sirkorgo.com Site Bumper"
              loading="lazy"
              decoding="async"
          /></a>
          <br />
          <code
            >&lt;a href="https://www.sirkorgo.com" target="_blank"&gt;&lt;img
            src="https://www.sirkorgo.com/src/img/bumper.gif"&gt;&lt;/a&gt;</code
          >
          <p style="margin-bottom: 0"><small>hotlinking recommended!</small></p>
        </span>
      </div>

      <div class="index-marquee">{% include marquee.html %}</div>
    </section>

    <br style="margin-bottom: 10px" />
    {% include changelog.html %}
    <span
      style="
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
      "
    >
      <iframe
        style="height: 270px; border: none; width: 250px"
        src="https://neocities.jeith.com/wii-webring.html?site=https://www.sirkorgo.com&variant=standard"
      >
      </iframe>
    </span>
  </div>
</div>
<br />
