---
sitemap: false
layout: default
colors: default
---

<div class="content">
  <h1>Sitemap</h1>
  <h2>Pages</h2>
  <ul>
    {% for page in site.pages %} {% if page.sitemap != false and page.title %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %} {% endfor %}
  </ul>

  <h2>Blog Posts</h2>
  <ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> — {{ post.date | date: "%b
      %d, %Y" }}
    </li>
    {% endfor %}
  </ul>

  <h2>Comics</h2>
  {% assign by_series = site.comics | group_by: "series" %} {% for series in
  by_series %}
  <h3>{{ series.name }}</h3>
  <ul>
    {% for comic in series.items %}
    <li>
      <a href="{{ comic.url }}">{{ comic.title }}</a> — {{ comic.date | date:
      "%b %d, %Y" }}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

  <h2>Artworks</h2>
  <ul>
    {% for art in site.art %}
    <li>
      <a href="{{ art.url }}">{{ art.title }}</a> — {{ art.date | date: "%b %d,
      %Y" }}
    </li>
    {% endfor %}
  </ul>
</div>
