<div class="pulse" style="margin: 0 auto">
  <div style="display: flex; justify-content: center; align-items: center">
    <span
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
      "
    >
      <img width="75px" src="/src/img/srkgo-think.png" />
      <div class="mood-wrapper">
        <div class="mood-title"><b>what&#x27;s sirkorgo up to?</b></div>
        <div class="mood">
          <ws-widget type="status" iid="909"></ws-widget>
        </div>
      </div>
    </span>
  </div>
  <br />
  <span
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    "
  >
    <img
      src="/src/assets/beach_episode.png"
      alt="sirkorgo.com site banner"
      loading="lazy"
      decoding="async"
      width="400px"
      style="max-width: 100%; height: auto; margin-top: 10px"
      alt="spring banner"
    />
    <p
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      "
    >
      <small><i>Theme: The Beach Episode</i></small>
    </p>
  </span>
</div>
<br />
<span style="padding-bottom: 10px"></span>
