<div class="content pulse">
  <div style="display: flex; justify-content: center; align-items: center;">
    <span style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 5px;">
      <div class="mood">
        <b>sirkorgo is feeling:</b>
        <a href="https://www.imood.com/users/sirkorgo"><img
            src="https://moods.imood.com/display/uname-sirkorgo/trans-1/imood.gif" alt="Neutral" border="0"></a>
      </div>
      <span class="mood" style="height: 8px; width: 8px; margin-right: 20px;"></span>
      <span class="mood" style="height: 0.1px; width: 0.1px; margin-left: 15px;"></span>
    </span>
  </div>
  <br />
  <span style="display: flex; align-items: center; justify-content: center; width: 100%;">
  <img src="/src/img/green_zero.gif" alt="sirkorgo.com site banner" loading="lazy" decoding="async" width="500"
    style="max-width: 100%; height: auto; margin-top: 10px" alt="spring banner" />
  </span>
</div>
<br />
<p style="display: flex; align-items: center; justify-content: center; text-align: center;">
  <small><i>Theme:
      Green Zero 🟩0️⃣</i></small>
</p>
<span style="padding-bottom: 10px"></span>