/* page accent colors */
html.blog {
  --accent: #479878;
  --accent-bg-light: #d1ffed;
  --accent-bg-dark: #132f24;
}
html.canvas {
  --accent: #ff4e65;
  --accent-bg-light: #ffd1d1;
  --accent-bg-dark: #2f1313;
}
html.comics {
  --accent: #c081ff;
  --accent-bg-light: #d1c0fb;
  --accent-bg-dark: #2a1843;
}
html.index {
  --accent: #005dff;
  --accent-bg-light: #b5caff;
  --accent-bg-dark: #13192f;
}
html.guestbook {
  --accent: #ff8630;
  --accent-bg-light: #ffe5d1;
  --accent-bg-dark: #422816;
}
html.default {
  --accent-bg-light: #eaeaea;
  --accent-bg-dark: #131313;
}

/* light theme */
html.light {
  --html-bg: var(--accent-bg-light);
  --font: #000000;
  --content-bg: rgba(255, 255, 255, 0.5);
  --content-bg-hover: rgba(255, 255, 255, 0.75);
  --html-img: url(/src/img/bg.webp);
  --nav-bg: rgba(255, 255, 255, 0.8);
  --page-bg: #ffffff;
  --btn-bg: linear-gradient(180deg, #fff 0%, #d8d5d5 100%);
  --btn-border: 1px solid #a9a9a9;
  --link: #0869fa;

  --alt-bg: #f9f9f9;
}

/* dark theme */
html.dark {
  --html-bg: var(--accent-bg-dark);
  --font: #ffffff;
  --content-bg: rgba(82, 82, 82, 0.19);
  --content-bg-hover: rgba(255, 255, 255, 0.145);
  --html-img: url(/src/img/bg-dark.webp);
  --nav-bg: rgba(27, 27, 27, 0.8);
  --page-bg: #000000;
  --btn-bg: linear-gradient(180deg, #444 0%, #000 100%);
  --btn-border: 1px solid #2e2e2e;
  --link: #a4d6ff;
  --alt-bg: #171717;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.index-nav {
  height: 100%;
}

.index-nav.active {
  width: fit-content;
  display: block;
  background: linear-gradient(
    90deg,
    rgba(0, 93, 255, 0.8) 11.9%,
    rgba(46, 178, 126, 0.8) 35.39%,
    rgba(255, 78, 101, 0.8) 71.2%,
    rgba(167, 84, 250, 0.8) 97.55%
  );
  background-size: 200% 200%;
  animation: gradientShift 20s ease infinite;
}
.index-nav:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 93, 255, 0.5) 11.9%,
    rgba(46, 178, 126, 0.5) 35.39%,
    rgba(255, 78, 101, 0.5) 71.2%,
    rgba(167, 84, 250, 0.5) 97.55%
  );
  background-size: 200% 200%;
  animation: gradientShift 20s ease infinite;
}

/* nav active + hover states */
.about-nav.active {
  color: white;
  border: 2px solid #0080d5;
  background: linear-gradient(180deg, var(--accent) 0%, #81a7ff 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 12px;
  min-width: 80px;
}
.about-nav:hover {
  background: rgba(0, 115, 255, 0.75);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
}

.guestbook-nav.active {
  color: white;
  border: 2px solid #a76d2b;
  background: linear-gradient(180deg, var(--accent) 0%, #ffbe81 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 12px;
  min-width: 80px;
}
.guestbook-nav:hover {
  background: rgba(255, 77, 0, 0.75);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
}

.comics-nav.active {
  color: white;
  border: 2px solid #c081ff;
  background: linear-gradient(180deg, #952bff 0%, #e2c5ff 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 12px;
  min-width: 80px;
}
.comics-nav:hover {
  background: rgba(149, 43, 255, 0.75);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
}

.blog-nav.active {
  color: white;
  border: 2px solid #479878;
  background: linear-gradient(180deg, #23ab75 0%, #a6efd2 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 12px;
  min-width: 80px;
}
.blog-nav:hover {
  background: rgba(14, 165, 102, 0.75);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
}

.canvas-nav.active {
  color: white;
  border: 2px solid #a32233;
  background: linear-gradient(180deg, #ff4e65 0%, #f593a0 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 0 12px;
  min-width: 80px;
}
.canvas-nav:hover {
  background: rgba(255, 22, 53, 0.75);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
}

.donate-nav:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
}
