/* page accent colors */
html.blog {
  --accent: #479878;
  --accent-bg-light: #d1ffed;
  --accent-bg-dark: #132f24;
}
html.canvas {
  --accent: #ff4e65;
  --accent-bg-light: #ffd1d1;
  --accent-bg-dark: #2f1313;
}
html.comics {
  --accent: #c081ff;
  --accent-bg-light: #d1c0fb;
  --accent-bg-dark: #2a1843;
}
html.index {
  --accent: #005dff;
  --accent-bg-light: #b5caff;
  --accent-bg-dark: #13192f;
}
html.guestbook {
  --accent: #ff8630;
  --accent-bg-light: #ffe5d1;
  --accent-bg-dark: #422816;
}
html.default {
  --accent-bg-light: #eaeaea;
  --accent-bg-dark: #131313;
}

/* light theme */
html.light {
  --html-bg: var(--accent-bg-light);
  --font: #000000;
  --content-bg: rgba(255, 255, 255, 0.5);
  --content-bg-hover: rgba(255, 255, 255, 0.75);
  --html-img: url(/src/img/bg.webp);
  --nav-bg: rgba(255, 255, 255, 0.5);
  --page-bg: #ffffff;
  --btn-bg: linear-gradient(180deg, #fff 0%, #d8d5d5 100%);
  --btn-border: 1px solid #a9a9a9;
  --link: #0869fa;
}

/* dark theme */
html.dark {
  --html-bg: var(--accent-bg-dark);
  --font: #ffffff;
  --content-bg: rgba(82, 82, 82, 0.19);
  --content-bg-hover: rgba(255, 255, 255, 0.145);
  --html-img: url(/src/img/bg-dark.webp);
  --nav-bg: rgba(27, 27, 27, 0.3);
  --page-bg: #000000;
  --btn-bg: linear-gradient(180deg, #444 0%, #000 100%);
  --btn-border: 1px solid #2e2e2e;
  --link: #a4d6ff;
}