html.blog {
  --accent: #74a249;
}

html.canvas {
  --accent: #ff4e65;
}

html.comics {
  --accent: #c081ff;
}

html.light {
  --html-bg: #eaeaea;
  --font: #000000;
  --content-bg: rgba(255, 255, 255, 0.5);
  --html-img: url(/src/img/bg.png);
  --nav-bg: rgba(234, 234, 234, 0.5);
  --page-bg: #ffffff;
  --btn-bg: linear-gradient(180deg, #fff 0%, #d8d5d5 100%);
  --btn-border: 1px solid #a9a9a9;
}

html.dark {
  --html-bg: #1b1b1b;
  --content-bg: rgba(82, 82, 82, 0.19);
  --font: #ffffff;
  --nav-bg: rgba(27, 27, 27, 0.5);
  --html-img: url(/src/img/bg-dark.png);
  --page-bg: #000000;
  --btn-bg: linear-gradient(180deg, #444 0%, #000 100%);
  --btn-border: 1px solid #2e2e2e;
}
