
.page {
  min-width: 400px;
  height: fit-content;
  min-height: 1000px;
  padding: 10px 20px;
  border-radius: 14px;
  background: var(--page-bg);
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.3);
  margin: 7vw 5vw;
}

/* page header */
.pageHeader {
  width: 100%;
  height: fit-content;
  display: flex;
}

.pageHeader p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  text-align: right;
  margin: 0;
}

/* comic header */
.comicHeader {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.comicHeader p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  text-align: center;
  margin: 0;
}

/* comic content */
.comicContent p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

.comicContent img {
  width: 80%;
  height: 80%;
}

/* body override */
body {
  margin: 0;
}

/* mobile */

@media (max-width: 900px) {
  .page {
    margin-top: 20px;
  }
}
@media (max-width: 670px) {
  .pageContainer,
  .page {
    min-width: 0;
    margin: 5px;
  }

  .comicContent img {
    width: 100%;
    height: 100%;
  }
}