.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  width: 1000px;
  height: fit-content;
  min-height: 1000px;

  padding: 10px 20px 10px 20px;

  border-radius: 14px;
  background: var(--page-bg);
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.3);
}

.pageHeader {
  width: 100%;
  height: fit-content;
  display: flex;
}

.pageHeader p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  text-align: right;
  margin: 0;
}

.comicHeader p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  text-align: center;
  margin: 0;
}

.comicHeader {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.comicContent,
.comicContent p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comicContent img {
  width: 80%;
  height: 80%;
}

.pageContainer,
.page {
  width: 100% !important;
  min-width: 400px;
}

body {
  margin: 0 10vw 0 10vw !important;
}

@media (max-width: 670px) {

  .pageContainer,
  .page {
    width: 100% !important;
    min-width: 0;
    /* or just remove min-width */
  }

  .comicContent img {
    width: 100% !important;
    height: 100% !important;
  }


  body {
    margin: 0 15px !important;
    /* also this matches main.css better */
  }
}