<!doctype html>
<html id="html" class="{{page.colors}} dark" lang="en-US">

<head>
  <link rel="icon" type="image/x-icon" href="/src/img/favicon.ico" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title == "Index" %}
    sirkorgo.com
    {% else %}
    {{page.title}} (sirkorgo.com)
    {% endif %}
  </title>
  <link rel="stylesheet" href="/src/css/global.css" />
  <meta property="og:title" content="sirkorgo.com" />
  <meta name="description" content="Home of Sirkorgo, a shapeshifting corgi, and his friends. Read comics about the world he lives in, Cloudspace, and read blog posts from the creator.">
  <meta property="og:description"
    content="Home of Sirkorgo, a shapeshifting corgi, and his friends. Read comics about the world he lives in, Cloudspace, and read blog posts from the creator." />
  <meta property="og:url" content="https://www.sirkorgo.com{{ page.url }}" />
  <meta property="og:image" content="https://www.sirkorgo.com/src/img/srkgo_meet.webp" />
</head>

<body>
  <div class="bg-layer"></div>
  {% include navbar.html %}

  <main>
    <span class="mobileSupportBtn">
      <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
      <script
        type='text/javascript'>kofiwidget2.init('Support me on Ko-fi', '#3076f0', 'T6T61WP8KV'); kofiwidget2.draw();</script>
    </span>
    {{ content }}
    {% include footer.html %}
  </main>
</body>

</html>