<!-- REMEMBER TO UPDATE ART GALLERY LAYOUT WHEN CHANGING THIS LAYOUT-->

<!doctype html>
<html id="html" class="{{page.colors}} dark" lang="en-US">
  <head>
    <link rel="icon" type="image/x-icon" href="/src/img/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: "sirkorgo.com" }}</title>
    <link rel="stylesheet" href="/src/css/global.css" />
    <meta property="og:title" content="sirkorgo.com" />
    <meta
      property="og:description"
      content="Heyo! I'm Sirkorgo. Sirkorgo is my shapeshifting fox OC. This is my website, the home of Sirkorgo and his friends!"
    />
    <meta property="og:url" content="https://www.sirkorgo.com{{ page.url }}" />
    <meta
      property="og:image"
      content="https://www.sirkorgo.com/src/img/srkgo_meet.png"
    />
  </head>
  <body>
    <div class="bg-layer"></div>
    {% include navbar.html %}

    <main id="content">{{ content }} {% include footer.html %}</main>
    <script src="https://cursor-party.sirkorgo.partykit.dev/cursors.js"></script>

    <script>
      document.addEventListener("mousemove", (e) => {
        document.body.style.setProperty("--mouse-x", e.clientX + "px");
        document.body.style.setProperty("--mouse-y", e.clientY + "px");
      });
    </script>
  </body>
</html>
