<!DOCTYPE html>
<html id="html" class="{{page.colors}} light">
  <head>
    <link rel="icon" type="image/x-icon" href="/src/img/favicon.ico" />
    <meta charset="utf-8" />
    <title>{{ page.title | default: "sirkorgo.com" }}</title>
    <link rel="stylesheet" href="/src/css/global.css" />
    <link rel="stylesheet" href="/src/css/post.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:title"
      content="A post about {{ page.title }} on sirkorgo.com"
    />
    <meta
      property="og:description"
      content="{{ page.excerpt | strip_html | truncate: 150 }}"
    />
    <meta property="og:url" content="https://www.sirkorgo.com{{ page.url }}" />
    <meta
      property="og:image"
      content="https://www.sirkorgo.com/src/img/srkgo_meet.png"
    />
  </head>
  <body>
    {% include navbar.html %}
    <div class="pageContainer">
      <main class="page">
        <span class="pageHeader"
          ><a href="/blog"><button class="generic-btn">← Go Back</button></a>
          <p>
            <b>{{ page.date | date: "%b %-d, %Y" }} • {{page.title}}</b>
          </p></span
        >
        <hr />
        <h2>{{page.title}}</h2>
        <p>
          Posted on {{ page.date | date: "%b %-d, %Y" }}, by {{ page.author }}
        </p>
        <br />
        {{ content }}
      </main>
    </div>

    <script src="https://cursor-party.sirkorgo.partykit.dev/cursors.js"></script>
    {% include footer.html %}

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8562550888898510"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
