<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="/src/img/favicon.ico" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/src/css/global.css" />
    <link rel="stylesheet" href="/src/css/content.css" />
    <meta
      property="og:title"
      content="A post about {{ page.title }} on sirkorgo.com"
    />
    <meta
      property="og:description"
      content="{{ page.excerpt | strip_html | truncate: 150 }}"
    />
    <meta property="og:url" content="https://www.sirkorgo.com{{ page.url }}" />
    <meta
      property="og:image"
      content="https://www.sirkorgo.com/src/img/srkgo_meet.png"
    />
  </head>

  <body>
    {% include navbar.html %}

    <button class="bkbtn" onclick="location.href = '/blog';">← Go Back</button>
    <main class="content">
      <div class="inner-content">
        <h1>{{ page.title }}</h1>
        <p>Posted on {{ page.date | date_to_string }} by {{ page.author }}</p>

        {{ content }}
      </div>
    </main>

    <script src="https://cursor-party.sirkorgo.partykit.dev/cursors.js"></script>
    {% include footer.html %}
  </body>
</html>
